@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 1140px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    width: 100%;
    margin-top: 18px;
    box-shadow: 0 2px 0 0 rgba(200, 200, 200, 0.5);
}

.container1 {
    margin-left: 60px;
}

.container2 {
    margin-left: 240px;
}

.select {
    border: none;
    margin-top: 7px;
    cursor: pointer;
}

.btn {
    border: none;
    background-color: white;
    cursor: pointer;
    margin: 9px;
    margin-left: 20px;
}

.div1 {
    display: flex;
    flex-direction: row;
    margin-left: 6px;
}

.div2 {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.btn1 {
    border: none;
    width: 155px;
    height: 40px;
    border-radius: 3px;
    background-color: #ffbc0d;
    cursor: pointer;
}

.btn0 {
    border: none;
    background-color: white;
    cursor: pointer;
    margin: 10px;
    font-size: 20px;
}

.container3 {
    margin-top: 40px;
    position: relative;
}

.image1 {
    width: 100%;
    border-radius: 5px;
}

.div3 {
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 50px;
    left: 40px;
    background-color: white;
    border-radius: 5px;
}

.div4 {
    margin-left: 30px;
    margin-top: 20px;
}

.title1 {
    font-size: 40px;
    font-weight: 900;
}

.btn2 {
    border: none;
    width: 130px;
    height: 40px;
    border-radius: 3px;
    background-color: #ffbc0d;
    cursor: pointer;
    margin-top: 20px;
}

.container4 {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

.image2 {
    width: 60%;
}

.div5 {
    width: 40%;
    padding: 20px;
}

.btn3 {
    border: none;
    border-radius: 3px;
    background-color: #ffbc0d;
    cursor: pointer;
    padding: 16px 54px;
    margin-top: 20px;
    font-size: 14px;
}

.title2 {
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 10px;
}

.container5 {
    margin-top: 40px;
    display: flex;
}

.image3 {
    width: 60%;
}

.title3 {
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 10px;
}

.btn4 {
    border: none;
    border-radius: 3px;
    background-color: #ffbc0d;
    cursor: pointer;
    padding: 16px 54px;
    margin-top: 20px;
    font-size: 14px;
}

.div7 {
    width: 40%;
    padding: 20px;
    display: flex;
    align-items: center;
}

.container6 {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.div9 {
    width: 350px;
}

.image4 {
    width: 350px;
    height: 150px;
}

.title4 {
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 10px;
}

.btn5 {
    border: none;
    border-radius: 3px;
    background-color: #ffbc0d;
    cursor: pointer;
    padding: 16px 54px;
    margin-top: 20px;
    font-size: 14px;
}

.div10 {
    width: 350px;
    height: 150px;
}

.image5 {
    width: 350px;
    height: 150px;
}

.title5 {
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 10px;
}

.btn6 {
    border: none;
    border-radius: 3px;
    background-color: #ffbc0d;
    cursor: pointer;
    padding: 16px 54px;
    margin-top: 20px;
    font-size: 14px;
}

.div11 {
    width: 350px;
    height: 150px;
}

.image6 {
    width: 350px;
    height: 150px;
}

.title6 {
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 10px;
}

.btn7 {
    border: none;
    border-radius: 3px;
    background-color: #ffbc0d;
    cursor: pointer;
    padding: 16px 54px;
    margin-top: 20px;
    font-size: 14px;
}

.div12 {
    margin-top: 50px;
}

li {
    list-style-type: none;
}

